<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{links.get("name")}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div class="rainbowcat-left roll-in-left"></div>
    <div class="rainbowcat-right roll-in-right"></div>
    <div class="rainbowcat-top roll-in-top"></div>
    <div class="rainbowcat-bottom roll-in-bottom"></div>
    <div class="rainbowcat-right-bottom roll-in-right"></div>
    <div class="rainbowcat-left-bottom roll-in-left"></div>


    <img id="userPhoto" src="{{links.get('picture')}}" alt="{{links.get('name')}} Photo">

    <p id="userName">{{links.get("name")}}</p>

    <div id="shortBio">
        <p>{{links.get("shortbio")}}</p>
    </div>

    <div id="links">
        {% for social in listSocialLinks %}

        <a class="link" href="{{social.link}}" target="_blank">😻 {{social.description}}  😻</a>

        {% endfor %}

    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="../static/index.js"></script>
</body>
</html>
